a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

a.bluelink {
  color:blue;
}

.bg-success {
  background-color: mediumseagreen !important;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.1;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-success {
  color: #ffffff;
  background-color: MediumSeaGreen;
  width:115px;
  margin-bottom: 4%;
}

.btn-success:hover {
  color: MediumSeaGreen;
  background-color: #ffffff;
}

.btn-success-navigation{
  color: #ffffff;
  background-color: MediumSeaGreen;
  width:75%;
  height:45px;
  margin-bottom: 4%;
}
.btn-success-navigation:hover{
  color: MediumSeaGreen;
  background-color: #ffffff;
}
.button-right{
  float:right;
}

.button-eqcenter{
  float:center;
}

.btn-group-right{
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: right;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card_left{
  text-align: left;
}

.cardlogin {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-headergreen{
  color:white;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: mediumseagreen;
  border-bottom: 1px solid rgba(0, 0, 0, 0.)
}

.class_labels{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}


.container {
  height: 100%;
  width: 100%;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.gold{
  color:#D4AF37;
  text-align:center;
}

.green_header{
  color:mediumseagreen;
}

.hundred_img{
  width:50%;
  height:50%;
}


.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

.imagecentre {
  text-align: center;
}

.img-fluid2{
  max-width: 100%;
  height: auto;
  width:200px;
  height:125px;
}

.img-fluid2-opaque{
  max-width: 100%;
  height: auto;
  width:200px;
  height:125px;
  opacity: 0.2;
}

.img-opaque{
  opacity: 0.2;
}

.navbar {
    background-color: mediumseagreen;
    color: white;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.progress {
  height: 40px;
}

.quiz_form{
  overflow: auto;
  text-align:left;
}

.quiz_table{
  width:100%;
  height:200px;
  overflow:scroll;
}

.question_img{
   width:60%;
   height:20%;
}

.smallcontainer{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top:15px;
  margin-right: auto;
  margin-left:0px;
  margin-bottom:15px;
}

small.fieldhelp{
  color:grey;
}

strong.fielderror{
  color: red;
}

.table {
  width:100%;
  margin-bottom: 5rem;
  color: #212529;
  border-bottom:1px solid #dee2e6;
  border-left:1px solid #dee2e6;
  overflow:scroll;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: left;
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;

}

.table thead th {
  vertical-align: left;
  border-bottom: 2px solid #dee2e6;

}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;

}

.welcome_sign{
   width:90px;
   height:55px;
   margin-left:80%
}

.eqrow {
	width: 100%;
	margin: 0;
	padding: 0;
}
.eqrow:before, .eqrow:after {
	content: " ";
	display: block;
}
.eqrow:after {clear: both;}
.eqnum, .eqbody {
	position: relative;
	padding: 1em 0.5em;
	margin: 0;
	font-size: 1.05em;
	line-height: 1.4;
	float: left;
}
.eqnum {width: 8%;}
.eqbody {width: 84%;}
.eqleft {text-align: left;}
.eqcenter {text-align: center;}
.eqright {text-align: right;}

.dblarrow {
	font-size: 125%;
	top: -0.4ex;
	margin: 0 2px;
}
.dblarrow:after {
	content:"\2190";
	position: absolute;
	left: 0;
	top: 0.5ex;
}

.sy, .syI, .syS {
    position: relative;
    text-align: center;
}
.syI {padding: 0 0.2em;}
.syS {padding: 0 0.025em;}
.oxbr {
	position: absolute;
	top: -1em;
	left: -1px;
	width: 100%;
	font-size: 0.6em;
	text-align: center;
	letter-spacing: 0;
}
