.eqrow {
	width: 100%;
	margin: 0;
	padding: 0;
}
.eqrow:before, .eqrow:after {
	content: " ";
	display: block;
}
.eqrow:after {clear: both;}
.eqnum, .eqbody {
	position: relative;
	padding: 1em 0.5em;
	margin: 0;
	font-size: 1.05em;
	line-height: 1.4;
	float: left;
}
.eqnum {width: 8%;}
.eqbody {width: 84%;}
.eqleft {text-align: left;}
.eqcenter {text-align: center;}
.eqright {text-align: right;}

.dblarrow {
	font-size: 125%;
	top: -0.4ex;
	margin: 0 2px;
}
.dblarrow:after {
	content:"\2190";
	position: absolute;
	left: 0;
	top: 0.5ex;
}

.sy, .syI, .syS {
    position: relative;
    text-align: center;
}
.syI {padding: 0 0.2em;}
.syS {padding: 0 0.025em;}
.oxbr {
	position: absolute;
	top: -1em;
	left: -1px;
	width: 100%;
	font-size: 0.6em;
	text-align: center;
	letter-spacing: 0;
}
