{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<form name = "form" action = "" method="POST">
{% csrf_token %}
<h5>SignUp Quiz</h5>

{% for question in questions %}
    <strong>{{question.text|safe}}</strong>
      {% for answer in question.answer_set.all %}
        <input type ='radio' name= "{{question.id}}" id ="answer{{forloop.counter}}" value = "{{answer.text}}" required/>
        <label for = "answer{{forloop.counter}}">{{answer.text|safe}}</label>
        <br/>
      {% endfor %}
{% endfor %}
<br/>
<a><button class="btn btn-success button-right" type="submit" value="Submit">Submit</button></a>
</form>

{% endblock %}
