{% extends 'base.html' %}

{% block content %}
<div class="container w-50" style ="text-align: left;">
  <div class="card">
    <div class="card-headergreen">
      Teacher Details Added
    </div>
    <div class="card-body">
      <p>Teacher Name: {{teacher.user.username}}</p>
      <p>School Name: {{teacher.school}}</p>
      <p>Class: {{teacher.class_id}}</p>
      <a type="button" class="btn btn-success button-right" href ="{% url 'welcome_teacher' %}">Close</a>
    </div>
  </div>
</div>
{% endblock %}
