{% extends 'base.html' %}

{% block content %}
<div class="container w-50" style ="text-align: left;">
  <div class="card">
    <div class="card-headergreen">Teacher Details Added</div>
    <div class="card-body">
      <p>Teacher Name: {{teacher.user.username}}</p>
      <p>School Name: {{teacher.school}}</p>
      <p>Class: {{teacher.class_id}}</p>
      <a href ="{% url 'welcome_teacher' %}"><button type="button" class="btn btn-success button-right"
        >Close</button></a>
    </div>
  </div>
</div>
{% endblock %}
