{% extends 'base.html' %}

{% block content %}
{% load static %}

<h5><strong>Welcome Student:</strong> {{student.user.get_username}}</h5>
<p><strong><strong>Current Level:</strong> {{student.level}}</strong></p>

<div class="progress" style="height: 40px;">
  <div class="progress-bar bg-success" role="progressbar"
  style="width: {{progress}}%" aria-valuemin="0" aria-valuemax="100">Progress {{progress}}%</div>
</div>
<br/>
<div class="row">
  <div class="col-sm-3">
    <p><strong>Next Lesson</strong></p>

    <a href="complete_lesson">
    <img data-toggle="tooltip" data-placement="top" title="Next Lesson" class="img-fluid"
     src = "{% static 'images\learning-svgrepo-com.svg' %}"
     style="width:200px;height:125px;" alt="complete_lesson"/>
    </a>

  </div>
  <div class="col-sm-3">
    <p><strong>Next Quiz </strong></p>
    <a href="dotest">
    <img data-toggle="tooltip" data-placement="top" title="Next Quiz" class="img-fluid"
    src="{% static 'images\school-material-paper-svgrepo-com.svg' %}"
    alt="do a Quiz" style="width:200px;height:125px;">
    </a>
  </div>
  <div class="col-sm-6" style="width:100%;height:200px;overflow:scroll;">
    <p><strong> Completed Quizzes </strong></p>
    <table class = "table" >
      <thead class = "thead-light" >
        <tr>
          <th>Quiz</th>
          <th>Percentage</th>
        </tr>
      </thead>
    {% for exam in completed_exams %}
    <tr >
    <td>{{exam.exam.title}}</td>
    <td><a class = "bluelink"
    href ="{% url 'show_result' exam_id=exam.exam.id %}">{{exam.percentage}}</a></td>
    </tr>
    {% endfor %}
    </table>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-3">
    <p><strong> Revise</strong></p>
    <a href="{% url 'revise' %}">
      <img data-toggle="tooltip" data-placement="top" title="Revise" class="img-fluid"
      src="{% static 'images\school-material-write-svgrepo-com.svg' %}"
      alt="Revise" style="width:200px;height:125px;" >
    </a>

  </div>

  <div class="col-sm-3">
    {% if student.needs_help %}
      <p><strong> Help is coming</strong></p>
      <a href = 'cancel_help'>
        <img data-toggle="tooltip" data-placement="top" title="Help Requested"
        class="img-fluid" src="{% static 'images/help-svgrepo-com.svg' %}"
        alt="Help Requested" style="width:200px; height:125px; opacity: 0.2;" >
      </a>
    {% else %}
      <p><strong> Request help</strong></p>
      <a href= 'get_help'>
        <img data-toggle="tooltip" data-placement="top" title="Request Help"
        class="img-fluid" src="{% static 'images/help-svgrepo-com.svg' %}"
        alt="Request Help" style="width:200px;height:125px;" >
      </a>
    {% endif %}
{% endblock %}
