{% extends 'base.html' %}
{% block content %}
<h3 class = "green_header"">Welcome to ChemLearning</h3>
<h4>The e-learning platform to help you write balanced equations for chemical reactions</h4>
<div class = "col-sm-12" class = "align_center">
  <div class="container w-50" class = "card_left"">
    <div class="cardlogin" >
      <div class="card-headergreen">
        <h5>Login</h5>
      </div>
      <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <p>
          {{field.label}}<br/>
          {% if field.help_text %}
          <small class = "fieldhelp">{{field.help_text|safe}}</small><br/>
          {% endif %}
          {{field}}
          {% for error in field.errors %}
            <strong class = "fielderror">{{error}}</strong><br/>
          {% endfor %}
        {% endfor %}
        </p>
      <button class= "btn btn-success button-right" type="submit" %>Login</button>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
