{% extends 'base.html' %}

{% block content %}
<h5>{{student.user.username}} answers to {{exam.title}}
<a href = "{% url 'show_students' class_name=student.class_id.name %}"><button type="button" class="btn btn-success button-right">
Back To Student List </button></a>
</h5>

{% for key, value in question_and_answer.items %}
    {% if key.get_type == exams.Written_Question %}
        <strong>Q&nbsp</strong>{{key.text|safe}}<br/>
        {% if key.questionimage %}
            <br/><img class="question_img_full" src = "{{key.questionimage}}"/><br/>
        {% elif key.questiongif %}
            <br/><img class="question_gif_full" src = "{{key.questiongif}}"/><br/>
        {% elif question.questionscript %}
            <br/>{{key.questionscript|safe}}<br/>
        {% endif %}
        <!--DO NOT MARK USER INPUT AS SAFE-->
        Students answer: {{value.user_answer}}
        <br/><br/>
    {% else %}
        <strong>Q&nbsp</strong>{{key.text|safe}}<br/>
        {% if key.questionimage %}<br/>
            <br/><img class = "question_img_full" src = "{{key.questionimage|safe}}"/><br/>
        {% endif %}
        Students answer: {{value.user_answer|safe}}
        <br/><br/>
    {% endif %}
{% endfor %}

{% endblock %}
