{% extends 'base.html' %}

{% block content %}
<h5>{{student.user.username}} answers to {{exam.title}}
<a href = "{% url 'show_students' class_name=student.class_id.name %}"><button type="button" class="btn btn-success button-right">
Back To Student List </button></a>
</h5>

{% for key, value in question_and_answer.items %}
<strong>Q&nbsp</strong>{{key.text|safe}}<br/>
{% if key.questionimage %}<br/>
{{key.questionimage|safe}}<br/>
{% endif %}
Students answer: {{value.user_answer|safe}}
<br/><br/>

{% endfor %}

{% endblock %}
