{% extends 'base.html' %}

{% block content %}
{% load static %}

<h4>Revision
    <a id="welcome_student" href="welcome_student" >
      <img data-toggle="tooltip" data-placement="top" title="Back To Welcome Student"
      class="img-fluid-2-welcome_sign"src="{% static 'images\welcome-svgrepo-com.svg' %}"
      alt="welcome_student">
    </a>
</h4>

    {% if number_of_q != 0 %}
      {% for question in incorrect_questions %}
      <br/>
      <br/><strong>{{question.question.text|safe}}</strong><br/>
        {% if question.question.questionimage %}
            <br/><img class="question_img_full" src = "{{question.question.questionimage}}"/><br/>
        {% endif %}
        {% if question.question.questiongif %}
            <br/><img class="question_gif_full" src = "{{question.question.questiongif}}"/><br/>
        {% endif %}
        {% if question.question.questionscript %}
            <br/><p><{{question.question.questionscript|safe}}><br/>
        {% endif %}
        {% if question.question.review %}
            {{question.question.review|safe}}
        {% endif %}
        {% if question.question.reviewimage %}
            <br/><img class="question_img_full" src = "{{question.question.reviewimage}}"/><br/>
        {% endif %}
        {% if question.question.reviewgif %}
            <br/><p><img class="question_gif_full" src = "{{question.question.reviewgif}}"/><br/>
        {% endif %}
        {% if question.question.reviewscript %}
            <br/>{{question.question.reviewscript|safe}}<br/>
        {% endif %}

      {% endfor %}
    {% else %}
      <p> You have nothing to revise </p>
    {% endif %}

{% endblock %}
