{% extends 'base.html' %}

{% block content %}
{% load static %}

<h4>Revision
    <a id="welcome_student" href="welcome_student" >
      <img data-toggle="tooltip" data-placement="top" title="Back To Welcome Student"
      class="img-fluid-2-welcome_sign"src="{% static 'images\welcome-svgrepo-com.svg' %}"
      alt="welcome_student">
    </a>
</h4>
<div class = "row">
    <div class = "col-sm-6">
        {% if number_of_q != 0 %}
          {% for question in incorrect_questions %}
          <br/><strong>{{question.question.text|safe}}</strong><br/>
            {% if question.question.questionimage %}
                <p><img class="question_img" src = "{{question.question.questionimage}}"/></p>
            {% elif question.questionscript %}
                <p><{{question.question.questionscript|safe}}></p>
            {% endif %}
            {{question.question.review|safe}}<br/>
            {% if question.question.questionreview %}
                <p><img class="question_img" src = "{{question.question.questionreview}}"/></p>
            {% elif question.question.questionreviewscript %}
                <p><{{question.question.questionscript|safe}}></p>
            {% endif %}
          {% endfor %}
          <br/>
          <br/>
        {% else %}
          <p> You have nothing to revise </p>
        {% endif %}
    </div>
</div>
{% endblock %}
