{% extends 'base.html' %}

{% block content %}
{% load static %}

{% if mcq_corrections %}
<h5>Multiple choice questions you need to review</h5>
{% for question in mcq_corrections %}
</br><strong>Q &nbsp</strong>{{question.text|safe}}
      <br/>{% if question.questionimage %}
            <br/><img class="question_img_full" src = "{{question.questionimage}}"/><br/>
        {% endif %}
        {% if question.questiongif %}
            <br/><img class="question_gif_full" src = "{{question.questiongif}}"/><br/>
        {% endif %}
        {% if question.questionscript %}
            {{question.questionscript|safe}}
        {% endif %}
        {% if question.review %}
            {{question.review|safe}}
        {% endif %}
        {% if question.reviewimage %}
            <br/><img class="question_img_full" src = "{{question.reviewimage}}"/><br/>
        {% endif %}
        {% if question.reviewgif %}
            <br/><p><img class="question_gif_full" src = "{{question.reviewgif}}"/><br/>
        {% endif %}
        {% if question.reviewscript %}
            <br/>{{question.reviewscript|safe}}<br/>
        {% endif %}
        <br/>

{% endfor %}
{% endif %}

{% if written_corrections_incorrect %}
<br/>
<h5>Written questions you need to review</h5>
    {% for question in written_corrections_incorrect %}
    </br><strong>Q &nbsp</strong>{{question.text|safe}}
        {% if question.questionimage %}
            <br/><img class="question_img_full" src = "{{question.questionimage}}"/>
        {% endif %}
        {% if question.questiongif %}
            <br/><img class="question_gif_full" src = "{{question.questiongif}}"/>
        {% endif %}
        {% if question.questionscript %}
            <br/><p>{{question.questionscript|safe}}
        {% endif %}
        {% if question.review %}
           <br/>{{question.review|safe}}
        {% endif %}
        {% if question.reviewimage %}
            <br/><img class="question_img_full" src = "{{question.reviewimage}}"/>
        {% endif %}
        {% if question.reviewgif %}
            <br/><p><img class="question_gif_full" src = "{{question.reviewgif}}"/>
        {% endif %}
        {% if question.reviewscript %}
            <br/>{{question.reviewscript|safe}}
        {% endif %}
        <br/>
    {% endfor %}
{% endif %}


{% if formulae_count > 0 %}
<br/>
<h5>Formulae you need to review</h5>
{% for key, value in formula_corrections.items %}
{{key|safe}}<br/>
{{value|safe}}<br></br>
{% endfor %}
{% endif %}


{% if mispelled_count > 0 %}
<br/>
<h5>Spellings you need to review</h5>
{% for key, value in written_corrections_mispelled.items %}
{{value|safe}}<br></br>
{% endfor %}
{% endif %}

<a href ="{% url 'welcome_student' %}"><button class="btn btn-success-review" >Continue</button></a><br></br>


{% endblock %}
