{% extends 'base.html' %}

{% block content %}
{% load static %}


{% if mcq_corrections %}
<h5>Multiple choice questions you need to review</h5>
{% for question in mcq_corrections %}
</br><strong>Q &nbsp</strong>{{question.text|safe}}<br/>
    {% if question.questionimage %}
        <p class="question_img">{{question.questionimage|safe}}</p>
    {% endif %}
{{question.review|safe}}<br/>
{% endfor %}
{% endif %}

{% if written_corrections_incorrect %}
<br/>
<h5>Written questions you need to review</h5>
    {% for question in written_corrections_incorrect %}
    <strong>Q &nbsp</strong>{{question.text|safe}}<br/>
    {% if question.questionimage %}
        <p class="question_img">{{question.questionimage|safe}}</p><br/>
    {% endif %}
     {{question.review|safe}}<br/>
    {% endfor %}
{% endif %}


{% if formulae_count > 0 %}
<br/>
<h5>Formulae you need to review</h5>
{% for key, value in formula_corrections.items %}
{{key|safe}}&nbsp;-&nbsp;{{value|safe}}<br></br>
{% endfor %}
{% endif %}


{% if mispelled_count > 0 %}
<br/>
<h5>Spellings you need to review</h5>
{% for key, value in written_corrections_mispelled.items %}
{{value|safe}}<br></br>
{% endfor %}
{% endif %}

<a href ="{% url 'welcome_student' %}"><button class="btn btn-success button-right" >Continue</button></a><br></br>

{% endblock %}
