<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chem Learning</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/x-mathjax-config">MathJax.Hub.Config({TeX: {extensions: ["mhchem.js"]}});</script>
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"></script>
  <script src="{% static 'js/javascriptsource.js' %}"></script>
  <SCRIPT LANGUAGE="JavaScript">
  <!-- Original:  Matthew Hoesch (mdih@msn.com) -->
  <!-- Begin
  function display (Name, Number, Weight, Melt, Freeze) {
  document.table.name.value=Name;
  document.table.number.value=Number;
  document.table.weight.value=Weight;
  document.table.melt.value=Melt;
  document.table.freeze.value=Freeze;
  }
  // End -->
  </script>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom_css.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-sm">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar" >
    <ul class="navbar-nav mr-auto">
      <h4 class="nav-item">ChemLearning</h4>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<hr class="d-sm-none">
</body>
</html>
