{% extends 'base.html' %}
{% block content %}
<h3 class="green_header">Welcome to ChemLearning</h3>
<h4>The e-learning platform to help you write balanced equations for chemical reactions</h4>
<div class="container w-50" class="txt_center">
  <div class="card">
    <div class="card-body">
      <h3>Sign up for a free account</h3>
      <p>Select the type of account you want to create below</p>
      <div class="smallcontainer" class="txt_center">
        <a href="{% url 'signup_form_student' %}"><button class="btn btn-success-navigation"><h6>I'm a student</h6></button></a>
        <a href="{% url 'signup_form_teacher' %}"><button class="btn btn-success-navigation"><h6>I'm a teacher</h6></button></a>
      <div>
      <br/>
      <br/>
      <h4>Already have an account?</h4>
      <a href ="{% url 'login' %}"><button class = "btn btn-success-navigation"><strong>Login</strong></button></a>
    </div>
  </div>
</div>
{% endblock %}
