{% extends 'base.html' %}

{% block content %}
<div class="container w-50" style ="text-align: left;">
  <div class="card">
    <div class="card-headergreen">
      Teacher sign up
    </div>
    <div class = "card-body">
      <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <strong>{{field.label}}<br/></strong>
        {{field.help_text|safe}}
        {{field}}<br/>
        <br/>
        {% endfor %}
        <button type="submit" class="btn btn-success button-right">Sign up</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
